.heading {
    background-image: url("../img/h_img.jpg");
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'PT Sans Narrow', sans-serif;
    background-repeat: no-repeat;
    padding: 300px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
    background-position: center;
}
.about {
    background: white;
    color: black;
    padding: 50px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    background-position: center;
    background-size: 100% 100%;
  }
  .services {
    background-image: url("../img/s_image.jpg");
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding:200px;
    }
    .whatwedo {
      font-family: 'PT Sans Narrow', sans-serif;
      }
    .whatwedo h1 {
        text-align: center;
        padding: 50px;
      }
    .design {
        text-align: center
      }
      .contact {
        background-image: url("../img/c_image.jpg");
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 50px;
        color: white;
        padding-bottom: 300px;
        text-align: center;
      }
      .contact input  {
        background: transparent;
        border: 1px solid white;
        color: white;
        width: 400px;
      }
      #messagehere {
        padding-bottom: 200px;
        width: 800px;
        height: 240px;
      }
      .socialicons {
        text-align: center;
        padding-top: 50px;
      }